@using SuperCoolBooks.Models;
@model IEnumerable<Review>

    
    @foreach (var review in Model)
    {
     <div class="card" style="width:40rem">
         <div class="card-body">
         <h5>@review.Title</h5>
         <p style="font-size:1rem">Rating: @review.Rating</p>
         <p style="font-size:0.85rem">@review.ReviewText</p>
         </div>
     </div>


    }

