
@{
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link text-dark fs-4 " aria-current="page" asp-area="" asp-page="/Admin/Book/Index">Book</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link text-dark fs-4" aria-current="page" asp-area="" asp-page="/Admin/Author/Index">Author</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark fs-4" aria-current="page" asp-area="" asp-page="/Admin/Genre/Index">Genre</a>
    </li>
</ul>